<html>

<head>
  <meta charset="utf-8">
  <title>首頁</title>
</head>

<body>
  <form name="input" method="post" action="/admin">
    <div>角色代號: <input type="text" name="id" /></div>
    <div>角色名稱: <input type="text" name="name" /></div>
    <div>稀有度: 　<input type="text" name="rarity" /></div>
    <div>角色評價: <input type="text" name="score" /></div>
    <div>能力:　　 <input type="text" name="ability" /></div>
    <div>定位:　　 <input type="text" name="position" /></div>
    <input type="submit" value="新增">
  </form>
</body>

</html>
